:root {
    --primary-color: #00a0e3;
    --secondary-color: #0f1941;
    --accent-color: #f8f9fa;
}

body {
    background-color: var(--accent-color);
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Agregué estilos para los estados de hover y focus */
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px 15px 0 0 !important;
}

.form-control:read-only {
    background-color: #f8f9fa;
}

#video {
    width: 100%;
    max-width: 640px;
    height: auto;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    #imagePreview {
        width: 90px; /* Aumentado en 10px */
        margin-left: 10px; /* Mantén el margen ajustado */
    }
}

/* Estilos para dispositivos medianos */
@media (min-width: 601px) and (max-width: 1200px) {
    .container {
        padding: 20px;
    }
    #imagePreview {
        width: 110px; /* Aumentado en 10px */
        margin-left: 15px; /* Mantén el margen ajustado */
    }
}

/* Estilos para dispositivos grandes */
@media (min-width: 1201px) {
    .container {
        padding: 30px;
    }
    #imagePreview {
        width: 130px; 
        margin-left: 20px;
    }
}

#imagePreview {    
    display: block;
    max-width: 100%;
    height: auto;
}
#myNavbar {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));

}
